extends ./layout/board.pug
block title
	.jumbotron.my-2
		h2= title
			small - 게시글 상세보기 입니다.
block content
	.border.border-primary.rounded.p-3= data.title
	.border.border-primary.rounded.p-3.my-3= data.content
	.p-3.text-center
		button.btn.btn-primary#btUpdate 수정
		button.btn.btn-danger#btDelete 삭제
		button.btn.btn-success#btList 리스트