extends ./layout/board.pug
block title
	.jumbotron.my-2
		h2= title
			small - 게시글 작성 입니다.
block content
	form(action="/pug/create" method="post" name="writeForm" enctype="multipart/form-data")
		table.table.table-bordered
			tbody
				tr
					td 작성자
					td
						input.form-control(type="text" name="writer" placeholder="작성자")
				tr
					td 제목
					td
						input.form-control(type="text" name="title" placeholder="한줄작성")
				tr
					td 내용
					td
						textarea.form-control(name="content" placeholder="내용작성")
				tr
					td 첨부파일
					td
						input.form-control-file(type="file" name="upfile")
		.bts.text-center.my-3
			button.btn.btn-primary 저장
			button.btn.btn-danger(type="reset") 다시작성