extends ./layout/board.pug
block title
	div.jumbotron
		h2= title
			small - 게시판 리스트
block content
	.write-wrap
		table.table.table-bordered
			tbody
				tr
					td 작성자
					td
						input.form-control(type="text" name="writer")