extends ./layout/board.pug
block title
	.jumbotron.my-2
		h2= title
			small - 게시글 작성 입니다.
block content
	form(action="/board" method="post" name="writeForm")
		table.table.table-bordered
			tbody
				tr
					td 작성자
					td
						input.formn-control(type="text" name="writer" placeholder="작성자")